<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700;900&display=swap" rel="stylesheet">
    <!-- /Google Font -->
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <!-- /FontAwesome -->
    <!-- VueJs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- /VueJs -->
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- /CSS -->
    <title>Vue TodoList</title>
  </head>
  <body>

  <!-- VueJs Root -->
    <div id="root">
     <header class="top-section">
       <div class="title">
         <h1>Vuejs ToDoList</h1>
       </div>
       <div class="logo">
         <img src="img/vuejs-logo.png" alt="logo">
       </div>
     </header>

    <!-- TodoList -->
      <div class="todo-list">

  <!-- List Items -->
        <ol v-if='list.length > 0'>
          <li v-for='(item, index) in list'>{{item}}<span @click="removeItem(index)"><i class="delete cross fas fa-times"></i></span></li>
        </ol>
  <!-- /List Items -->
  <!-- Submit input and button -->
        <div class="insert-item">
          <label class="lbl" for="">Add TodoThings</label>
          <input class="submit" type="text" placeholder="Write here" name="" value="" v-model='newItem' @keyup.13='addItem'>
          <button class="btn-submit" @click='addItem'>Submit</button>
        </div>
  <!-- /Submit input and button -->


      </div>
   <!-- /TodoList -->
    </div>
 <!-- /VueJs Root -->


    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
